<h3>
  Assignment <%= @assignment.id %>
</h3> 

<%= render @assignment %>

<div class="btn-group mt-3 mb-3" style="">
<%if current_user.role == "teacher" && User.find(@assignment.user_id).id == current_user.id%>
  <button class="btn btn-outline-primary" type="submit">
    <%= link_to "Edit this assignment", edit_assignment_path(@assignment), class:"stretched-link" %>
  </button>

  <!--<button class="btn btn-outline-primary" type="submit">
    <%= link_to "Rate this assignment", new_rating_path(@assignment), class:"stretched-link" %>
  </button> -->
<%end%>
  <button class="btn btn-outline-primary" type="submit">
    <%= link_to "Back to assignments", assignments_path, class:"stretched-link" %>
  </button>

  
 
<%if (current_user.role == "teacher" && User.find(@assignment.user_id).id == current_user.id) || current_user.role == "student"%>
  <button class="btn btn-outline-success" type="button">
    <%= link_to "Add Submission", new_submission_path %>
  </button>
<%end%>
  <!--<%= link_to "Rate this assignment", new_rating_path(@assignment) %> |
  <%= link_to "Show ratings", ratings_path(@assignment) %> -->
</div>
<%if current_user.role == "teacher" && User.find(@assignment.user_id).id == current_user.id%>
<%= button_to "Destroy this assigment", @assignment, method: :delete, class: "btn btn-outline-danger" %>
<%end%>

<br>
<h5>
  Submissions:
</h5> 
<div id="assignments">
  <% @submissions.each do |submission| %>
    <%= render submission %>
    <br>
  <% end %>
</div>




